@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__controls button {
  background-color: var(--mantine-color-default);
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.react-flow__controls button:hover {
  background-color: var(--mantine-color-default-hover);
}

.react-flow__controls button path {
  fill: var(--mantine-color-default-color);
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
